<h2>Quiz 1 : Hello World to Python</h2>
    
Print Say Hello World to Python

In [ ]:
print('Hello World Python')

Hello World Python

In [ ]:
#bisa seperti ini (jika dipisah)
a = 'Hello World'
b = 'Python'
print ('%s %s' % (a,b))

Hello World Python

Expected Output : 

Hello World Python

<h2>Quiz 2 : Aritmatika di Python </h2>
    
- Buat statement pertambahan antara 2 number di Python
- Buat statement perkurangan antara 2 number di Python
- Buat statement perkalian antara 2 number di Python
- Buat statement pembagian antara 2 number di Python

In [ ]:
a = 5
b = 10
c = a + b
d = a - b
e = a * b
f = a / b
print('Penjumlahan: %d + %d = %d' % (a, b, c))
print('Pengurangan: %d - %d = %d' % (a, b, d))
print('Perkalian: %d * %d = %d' % (a, b, e))
print('Pembagian: %d : %d = %3.1f' % (a, b, f))

Penjumlahan: 5 + 10 = 15
Pengurangan: 5 - 10 = -5
Perkalian: 5 * 10 = 50
Pembagian: 5 : 10 = 0.5

<h2>Quiz 3 : Assign Variable dan Tipe Data Integer, Float </h2>

- Buat suatu variabel a dan b, dimana a dan b adalah nilai bertipe data numeric
- Berikan suatu nilai bertipe data integer, hasil pembagian dari a dengan b
- Berikan suatu nilai bertipe data float, hasil pembagian dari a dengan b

In [ ]:
a = 5
b = 10
c = a//b
d = a/b
print('Hasil pembagian (integer): %d:%d = ' %(a,b), c)
print('Hasil pembagian (float): %d:%d = ' %(a,b), d)

Hasil pembagian (integer): 5:10 =  0
Hasil pembagian (float): 5:10 =  0.5

<h2>Quiz 4 : String Operation </h2>

- masukan nama depan kamu kedalam suatu variable firstname
- masukan nama belakang kamu kedalam suatu variable lasname
- tampilkan suatu kalimat 'Hello sanbercode, saya firstname lastname! saya siap belajar python data science.'

In [ ]:
firstname = 'I Gede Pajar'
lastname = 'Bahari'
print('Hello sanbercode, saya %s %s! saya siap belajar python data science.' % (firstname, lastname))

Hello sanbercode, saya I Gede Pajar Bahari! saya siap belajar python data science.

Expected Output :

Hello sanbercode, saya fauzan taufik! saya siap belajar python data science.

<h2>Quiz 5 : Tipe Data</h2>

Lengkapi code di bawah ini untuk menghasilkan output yang sesuai

In [ ]:
p = 9.99999
q = 'the number : '
print(q + ...(p))

Expected Output :

the number : 9.99999

In [ ]:
p = 9.99999
q = 'the number : '
print(q + str(p))

the number : 9.99999